<div class="container">
  <div class="listbox">
    <ul>
      <li
        [ngClass]="{ 'selected': selected === item }"
        *ngFor="let item of data"
        (click)="onSelect(item)"
      >
        {{ item.samplingTime | date: 'dd-MM-yyyy HH:mm:ss a' }}
      </li>
    </ul>
  </div>

  <div class="details" *ngIf="form">
   <form [formGroup]="form">
      <div *ngFor="let prop of selectedProperties" class="form-row" style="display: flex; align-items: center; margin-bottom: 10px;">
        
        <div style="font-weight: bold;">
          {{ form.get(prop.key)?.value }}
        </div>

        <input
          type="text"
          [value]="prop.label"
          disabled
          style="width: 250px; margin-right: 10px;"
        />
  </div>

  <button type="button" (click)="onSave()">Save</button>
</form>
  </div>
</div>
